网站名称：Freesky's world
技术栈： HTML, CSS, JavaScript（保持轻量级，方便后续维护）
设计风格： 极简、现代
网站结构：

首页 (Home)： 个人简介，打字机效果的欢迎语。

学习天地：用于展示我的学习笔记和资料，可以以pdf文件的形式展现出来；
生活碎片：用于记录我的一些生活视频和照片；
music：放置我喜欢的歌单，封面就是每首歌曲的封面，点击就可以听；

还可以在角落放一只动态的猫猫虫咖波（Bugcat Capoo）作为彩蛋。